<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a (click)="(GoToHome)" href="#" class="brand-logo">Chat App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <div class="nav-div">
        <img src="http://placehold.it/50x50" class="circle responsive-img" alt="" />
      </div>
      <h1 class="profile-name">{{ user.username }}</h1>
      <!-- <p class="user-text">This is a test</p> -->
    </div>
  </div>
</nav>
